/* reset */
* {
    margin: 0px;
    padding: 0px;
}

/* header */
.title {
    text-align: center;
    font-family: sans-serif;
    margin-bottom: 50px;
}

/* main */
main {
    background-color: #d30000;
}

.conteiner {
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    padding: 25px 0px 25px 0px;
    
}

.row {
    background-color: blue;
    display: flex;
    flex-direction: column;
    background-color: azure;
    gap: 20px;
    
}

.items {
    max-width: 500px;
    height: auto;
}